* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Iosevka Term", FontAwesome, Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

window#waybar {
    background-color: #fafafa;
    border: 2px solid #0184bc;
    color: #383a42;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 14;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #0184bc;
}

window#waybar.chromium {
    background-color: #0184bc;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #383a42;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 14;
}

#workspaces button.focused {
    background-color: #0184bc;
    border-radius: 14;
    color: #fafafa;
}

#workspaces button.urgent {
    background-color: #a626a4;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#tray,
#mode,
#language {
    padding: 0 10px;
    background-color: #0184bc;
    color: #fafafa;
    border-radius: 14;
}

#battery.critical:not(.charging),
#network.disconnected,
#temperature.critical,
#tray > .needs-attention,
#mode {
    background-color: #a626a4;
}


#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #0184bc;
        color: #fafafa;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
