* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Ubuntu", FontAwesome, Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

window#waybar {
    background: rgba(0, 0, 0, 0); /* transparent background */
}

window > box {
    margin: 0px 4px;
    background-color: ${TTY_COLOR_BG1};
    /* border: 2px solid ${TTY_COLOR_BG1}; */
    color: ${TTY_COLOR_FG1};
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: ${TTY_COLOR_BG1};
}

window#waybar.chromium {
    background-color: ${TTY_COLOR_BG1};
    border: none;
}

#workspaces button {
    padding: 0 10px 0 5px;
    background-color: transparent;
    color: ${TTY_COLOR_FG1};
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    /* background-color: ${TTY_COLOR_CYAN}; */
    color: ${TTY_COLOR_RED};
}

#workspaces button.urgent {
    background-color: ${TTY_COLOR_RED};
    color: ${TTY_COLOR_BG1};
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#mode,
#tray,
#language {
    padding: 0 10px;
    background-color: ${TTY_COLOR_BG1};
}

#language {
    color: ${TTY_COLOR_GREEN};
}

#network {
    color: ${TTY_COLOR_YELLOW};
}

#cpu {
    color: ${TTY_COLOR_BLUE};
}

#memory {
    color: ${TTY_COLOR_MAGENTA};
}

#temperature {
    color: ${TTY_COLOR_CYAN};
}

#battery {
    color: ${TTY_COLOR_GREEN};
}

#clock {
    color: ${TTY_COLOR_YELLOW};
}

#tray {
    color: ${TTY_COLOR_BLUE};
}


#battery.critical:not(.charging),
#network.disconnected,
#temperature.critical,
#tray > .needs-attention,
#mode {
    background-color: ${TTY_COLOR_RED};
    color: ${TTY_COLOR_FG1};
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: ${TTY_COLOR_BLACK};
        color: ${TTY_COLOR_RED};
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
